<footer>
	<div class="footer-top-block">
		<div class="container">
			<div class="row justify-content-between align-items-center flex-row">
				<div class="header__logo">
					<a class="d-flex justify-content-center align-items-center" href="https://edin.center">
						<img class="logo logo__img" src="https://edin.center/images/mtp-logo.svg" alt="Единый центр защиты" width="52" height="60">
						<div class="logo logo__withText">Единый центр защиты<span class="logo__subTitle">Юридическая служба</span>
						</div>
					</a>
				</div>
				<div class="footer-phone"><a href="tel:+74852581515" class="phone h3 white mb-0 d-block">8 (4852) 58-15-15</a></div>
			</div>
		</div>
	</div>
	<div class="footer-adress container px-lg-0">
		<div class="row justify-content-md-between">
            <div class="col-lg-3 col-md-6 col-12 adress-col sh-2">
				<div class="map-link d-flex flex-row"
                     data-coord="57.625171, 39.881902"
                     data-address="ул. Свободы 11/37, 2 этаж"
                     data-city="Ярославль"
                     data-name="Yaroslavl"
                     data-hours='{"1":["09:00","19:00"],"2":["09:00","19:00"],"3":["09:00","19:00"],"4":["09:00","19:00"],"5":["09:00","19:00"],"6":["10:00","16:00"],"0":[]}'
                     data-phone="8 (4852) 58-15-15"
                     data-busstop='Знаменская башня'
                     data-bus="49, 99с, 139, 140, 178"
                     data-buses="71, 143, 176"
                     data-trolleybus="49, 99с, 139, 140, 178"
                     data-reference_point='Доходный дом Понизовкиных, вход с улицы Свободы, в соседних зданиях ТК Европа, ТЦ Ниагара'>
                    <i class="icon icon-map-pin icon-bg-rounded icon-bg-footer-gray icon-bg-medium icon-centered icon-white mr-15"></i>
                    г. Ярославль, ул. Свободы 11/37, 2 этаж
                </div>
			</div>
            <div class="col-lg-3 col-md-6 col-12 adress-col d-flex flex-row">
                <i class="icon icon-phone icon-bg-rounded icon-bg-footer-gray icon-bg-medium icon-centered icon-white mr-15"></i>
				<a href="tel:+74852581515" class="phone mt-10 sh-2 white">8 (4852) 58-15-15</a>
			</div>
            <div class="col-lg-3 col-md-6 col-12 adress-col d-flex flex-row sh-2">
                <i class="icon icon-time icon-bg-rounded icon-bg-footer-gray icon-bg-medium icon-centered icon-white mr-15"></i>
				<div>пн-пт: 09:00 - 19:00<br>сб: 10:00 - 16:00<br>вс: выходной</div>
			</div>
            <div class="col-lg-3 col-md-6 col-12 adress-col">
				<div class="footer-social d-flex flex-wrap align-items-center justify-content-center">
					<a href="https://www.youtube.com/channel/UClBzeEZCfVA4qyG8uLKcJNg" target="_blank" rel="nofollow"><i class="icon icon-youtube icon-centered"></i></a>
					<a href="https://vk.com/edin.center" target="_blank" rel="nofollow"><i class="icon icon-vk icon-centered"></i></a>
					<a href="https://ok.ru/edin.center" target="_blank" rel="nofollow"><i class="icon icon-ok icon-centered"></i></a>
					<a href="https://t.me/edincentre" target="_blank" rel="nofollow"><i class="icon icon-telegram-alt icon-centered"></i></a>
				</div>
			</div>
		</div>
    </div>
	<div class="container px-0">
		<nav class="navbar d-block">
			<div class="row justify-content-md-between">
                <div class="col-lg-3 col-md-6 col-12 footer-menu-col">
                    <ul class="navbar-nav">
                        <li class="nav-item"><span class="menu-header">Физическим лицами</span></li>
                        <div class="footer-menu-hidden">
						    <li class="nav-item"><a class="nav-link" href="/yaroslavl/zashhita-v-sude">Защита в суде</a></li>
						    <li class="nav-item"><a class="nav-link" href="/yaroslavl/semejnoe-pravo">Семейное право</a></li>
						    <li class="nav-item"><a class="nav-link" href="/zhilishnye-spory">Жилищные споры</a></li>
						    <li class="nav-item"><a class="nav-link" href="/yaroslavl/zemelnye-spory">Земельные споры</a></li>
						    <li class="nav-item"><a class="nav-link" href="/yaroslavl/zhilishnye-spory">Жилищные споры</a></li>
						    <li class="nav-item"><a class="nav-link" href="/yaroslavl/trudovoe-pravo">Трудовое право</a></li>
						    <li class="nav-item"><a class="nav-link" href="/yaroslavl/proverka-dokumentov-i-dogovorov">Проверка документов и договоров</a></li>
						    <li class="nav-item"><a class="nav-link" href="/yaroslavl/autourist">Помощь автоюриста</a></li>
                        </div>
                    </ul>
					</div>
                <div class="col-lg-3 col-md-6 col-12 footer-menu-col">
                    <ul class="navbar-nav">
                        <li class="nav-item"><span class="menu-header">Заемщикам</span></li>
                        <div class="footer-menu-hidden">
                            <li class="nav-item"><a class="nav-link" href="/yaroslavl/bankrotstvo-fizicheskih-lic">Банкротство физических лиц</a></li>
                            <li class="nav-item"><a class="nav-link" href="/yaroslavl/uproshchennoe-bankrotstvo">Внесудебное банкротство</a></li>
                            <li class="nav-item"><a class="nav-link" href="/yaroslavl/pomosh-dolzhnikam">Защита прав заемщиков</a></li>
                            <li class="nav-item"><a class="nav-link" href="/yaroslavl/vzyskanie-dolgov-s-fiz-lic">Взыскание долгов</a></li>
                            <li class="nav-item"><a class="nav-link" href="/ne-toropites-bankrotitsya">Списать долги без рисков</a></li>
                            <li class="nav-item"><a class="nav-link menu-delimiter" href="/yaroslavl/ugrozhayut-kollektory">Угрожают коллекторы</a></li>
                            <li class="nav-item"><a class="nav-link" href="/usloviya-okazaniya-yuridicheskix-uslug-i-tarify">Условия оказания юридических услуг и Тарифы</a></li>
                        </div>
                    </ul>
					</div>
                <div class="col-lg-3 col-md-6 col-12 footer-menu-col">
                    <ul class="navbar-nav">
                        <li class="nav-item"><span class="menu-header">Юридическим лицам</span></li>
                        <div class="footer-menu-hidden">
                            <li class="nav-item"><a class="nav-link" href="/bankruptcy-of-a-juridical">Банкротство юридических лиц</a></li>
                            <li class="nav-item"><a class="nav-link" href="/yaroslavl/nalogovye-spory">Налоговые споры</a></li>
                            <li class="nav-item"><a class="nav-link" href="/yaroslavl/torgovaya-marka">Торговая марка</a></li>
                            <li class="nav-item"><a class="nav-link" href="/yaroslavl/vzyskanie-dolgov">Взыскание долгов</a></li>
                            <li class="nav-item"><a class="nav-link" href="/yaroslavl/b2b">Корпоративное обслуживание</a></li>
                            <li class="nav-item"><a class="nav-link" href="/yaroslavl/bookkeeping">Бухгалтерские услуги</a></li>
                        </div>
                    </ul>
					</div>
                <div class="col-lg-3 col-md-6 col-12 footer-menu-col">
                    <ul class="navbar-nav">
                        <li class="nav-item"><span class="menu-header">О компании</span></li>
                        <div class="footer-menu-hidden">
                            <li class="nav-item"><a class="nav-link" href="/about">Информация</a></li>
                            <li class="nav-item"><a class="nav-link" href="/about/structure">Команда</a></li>
                            <li class="nav-item"><a class="nav-link" href="/reviews">Отзывы</a></li>
                            <li class="nav-item"><a class="nav-link" href="/contacts">Контакты</a></li>
                            <li class="nav-item"><a class="nav-link" href="/articles">Статьи</a></li>
                            <li class="nav-item"><a class="nav-link" href="/mass-media/contactman">Пресс-секретарь</a></li>
                            <li class="nav-item"><a class="nav-link" href="/sotrudnichestvo">Сотрудничество</a></li>
                            <li class="nav-item"><a class="nav-link" href="/vacancie">Вакансии</a></li>
                        </div>
                    </ul>
                </div>
            </div>
		</nav>
	</div>
	<div class="container px-lg-0 footer-info">
		<p class="gray-6 bd-3 mb-0">Вся информация представлена на сайте в ознакомительных целях и не является публичной офертой. Требуется консультация специалиста.</p>
		<p class="gray-6 bd-3 mb-0">Все материалы данного сайта являются объектами авторского права (в том числе дизайн). Запрещается копирование, распространение (в том числе путем копирования на другие сайты и ресурсы в Интернете) или любое иное использование информации и объектов без предварительного согласия правообладателя.</p>
		<p class="gray-6 bd-3 mb-0">Логотипы "Единый центр защиты. Юридическая служба" размещенные на сайте, являются зарегистрированным товарным знаком и охраняются государством как объект интеллектуальной собственности, любое копирование и создание схожего по степени смешения товарного знака запрещено законом.</p>
		<p class="gray-6 bd-3 mb-0">Компания оставляет за собой право производить клиентам рассылку через WhatsApp и Telegram.</p>
	</div>

	<div class="container">
		<div class="row justify-content-between copyright-section">
			<div class="copyright-links sh-3 gray-6 mb-30 mb-md-0"><a href="/user_confirm.pdf" target="_blank">Пользовательское соглашение</a> и <a href="/privacy-policy.pdf" target="_blank">политики конфиденциальности</a></div>
			<div class="copyright bd-3 gray-6">© 2015—2023 «Единый Центр Защиты»</div>
		</div>

	</div>
</footer>
