<div class="modal fade modern-modal popup_city_select" id="city_select" tabindex="-1" role="dialog" aria-labelledby="city_select" aria-modal="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
				<div class="city_wrapper">
					<div class="city-search-wrap">
						<div class="h3 modal-title">Укажите ваш город</div>
						<p class="bd-2">Выберите город из списка или используйте поиск</p>
						<div class="srch">
							<div class="srch_wrapper">
								<form action="" class="d-block searchForm searchForm--city">
									<div class="position-relative">
										<input type="text" class="form-control srch_text mb-0" placeholder="Ваш город" name="srch_text" data-notsavetostate="true" autocomplete="off">
										<button type="submit" class="srch_submit no-btn"><i class="icon icon-magnifier icon-centered"></i></button>
										<span class="srch_reset no-btn d-none"><i class="icon icon-close icon-centered"></i></span>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="cities-scroll">
						<div class="ajax_city_list"></div>
						<div class="ajax_city_container">
							<div class="office_primary">
								<div class="st-2 subtitle"><i class="icon icon-lawhouse icon-centered"></i>Офисы в городах:</div>
								<ul class="officesList first_list" data-cities="offices">
																				<li><a href="/abakan">Абакан</a></li>
																					<li><a href="/arkhangelsk">Архангельск</a></li>
																					<li><a href="/barnaul">Барнаул</a></li>
																					<li><a href="/vladivostok">Владивосток</a></li>
																					<li><a href="/voronezh">Воронеж</a></li>
																					<li><a href="/ekaterinburg">Екатеринбург</a></li>
																					<li><a href="/izhevsk">Ижевск</a></li>
																					<li><a href="/irkutsk">Иркутск</a></li>
																					<li><a href="/kaliningrad">Калининград</a></li>
																					<li><a href="/kamensk-uralskiy">Каменск-Уральский</a></li>
																					<li><a href="/kemerovo">Кемерово</a></li>
																					<li><a href="/kirov">Киров</a></li>
																					<li><a href="/krasnodar">Краснодар</a></li>
																					<li><a href="/krasnoyarsk">Красноярск</a></li>
																					<li><a href="/murmansk">Мурманск</a></li>
																					<li><a href="/nizhnevartovsk">Нижневартовск</a></li>
																					<li><a href="/nizhniy-novgorod">Нижний Новгород</a></li>
																					<li><a href="/nizhniy-tagil">Нижний Тагил</a></li>
																					<li><a href="/novokuzneck">Новокузнецк</a></li>
																					<li><a href="/novorossiysk">Новороссийск</a></li>
																					<li><a href="/omsk">Омск</a></li>
																					<li><a href="/orenburg">Оренбург</a></li>
																					<li><a href="/perm">Пермь</a></li>
																					<li><a href="/prokopevsk">Прокопьевск</a></li>
																					<li><a href="/rostov-na-donu">Ростов-на-Дону</a></li>
																					<li><a href="/samara">Самара</a></li>
																					<li><a href="/sankt-peterburg">Санкт-Петербург</a></li>
																					<li><a href="/saratov">Саратов</a></li>
																					<li><a href="/sochi">Сочи</a></li>
																					<li><a href="/surgut">Сургут</a></li>
																					<li><a href="/tolyatti">Тольятти</a></li>
																					<li><a href="/tomsk">Томск</a></li>
																					<li><a href="/tyumen">Тюмень</a></li>
																					<li><a href="/ufa">Уфа</a></li>
																					<li><a href="/habarovsk">Хабаровск</a></li>
																					<li><a href="/cheboksary">Чебоксары</a></li>
																					<li><a href="/sahalin">Южно-Сахалинск</a></li>
																					<li><a href="/yaroslavl">Ярославль</a></li>
																		</ul>
							</div>
							<div class="office_partners">
								<div class="st-2 subtitle"><i class="icon icon-peoples icon-centered"></i>Собственная сеть представителей:</div>
								<ul class="letters_list">
									<li class="active"><a href="#" data-letter="А">А</a></li>
									<li class=""><a href="#" data-letter="Б">Б</a></li>
									<li class=""><a href="#" data-letter="В">В</a></li>
									<li class=""><a href="#" data-letter="Г">Г</a></li>
									<li class=""><a href="#" data-letter="Д">Д</a></li>
									<li class=""><a href="#" data-letter="Е">Е</a></li>
									<li class=""><a href="#" data-letter="Ж">Ж</a></li>
									<li class=""><a href="#" data-letter="З">З</a></li>
									<li class=""><a href="#" data-letter="И">И</a></li>
									<li class=""><a href="#" data-letter="К">К</a></li>
									<li class=""><a href="#" data-letter="Л">Л</a></li>
									<li class=""><a href="#" data-letter="М">М</a></li>
									<li class=""><a href="#" data-letter="Н">Н</a></li>
									<li class=""><a href="#" data-letter="О">О</a></li>
									<li class=""><a href="#" data-letter="П">П</a></li>
									<li class=""><a href="#" data-letter="Р">Р</a></li>
									<li class=""><a href="#" data-letter="С">С</a></li>
									<li class=""><a href="#" data-letter="Т">Т</a></li>
									<li class=""><a href="#" data-letter="У">У</a></li>
									<li class=""><a href="#" data-letter="Ф">Ф</a></li>
									<li class=""><a href="#" data-letter="Х">Х</a></li>
									<li class=""><a href="#" data-letter="Ц">Ц</a></li>
									<li class=""><a href="#" data-letter="Ч">Ч</a></li>
									<li class=""><a href="#" data-letter="Ш">Ш</a></li>
									<li class=""><a href="#" data-letter="Щ">Щ</a></li>
									<li class=""><a href="#" data-letter="Э">Э</a></li>
									<li class=""><a href="#" data-letter="Ю">Ю</a></li>
									<li class=""><a href="#" data-letter="Я">Я</a></li>
								</ul>
								<div class="another_list">
									<ul data-cities="letter">
																			</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>