<div class="modal fade modern-modal address-modal" id="address_modal" tabindex="-1" role="dialog" aria-labelledby="address_modal" aria-modal="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true"></span></button>
				<div class="adress-info-modal-wrap">
					<div class="adress-info-lines">
						<div class="adress-line d-flex">
							<div class="adress col">ул. Свободы 11/37, 2 этаж</div>
							<div class="map-link col-4" data-coord="57.625171, 39.881902"
								data-address="ул. Свободы 11/37, 2 этаж"
								data-city="Ярославль"
								data-name="Yaroslavl"
								data-hours='{"1":["09:00","19:00"],"2":["09:00","19:00"],"3":["09:00","19:00"],"4":["09:00","19:00"],"5":["09:00","19:00"],"6":["10:00","16:00"],"0":[]}'
								data-phone="8 (4852) 58-15-15"
								 data-busstop='Знаменская башня'								 data-bus="49, 99с, 139, 140, 178"
								 data-buses="71, 143, 176"
								 data-trolleybus="49, 99с, 139, 140, 178"
																 data-reference_point='Доходный дом Понизовкиных, вход с улицы Свободы, в соседних зданиях ТК Европа, ТЦ Ниагара'							>Показать на карте</div>
							<div class="phone-wrap col-4"><a class="phone st-1 red-1" href="tel:+74852581515">8 (4852) 58-15-15</a></div>
						</div>

											</div>
				</div>
				<div class="d-flex btn-area mb-15">
					<a href="#" data-toggle="modal" data-dismiss="modal" data-target="#modern_lead_modalform" class="btn btn-primary mr-30">Записаться на прием к юристу</a>
					<a class="btn btn-outline-primary" href="/contacts">Другие офисы по России</a>
				</div>
				<div class="gray-bd bd-2">Юристы принимают по предварительной записи</div>
			</div>
		</div>
	</div>
</div>