:root{
	--phone:url('data:image/svg+xml;utf8,<svg width="38" height="38" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.75 8.821A4.071 4.071 0 0 1 8.821 4.75h1.862c1.168 0 2.185.795 2.47 1.927l1.499 6.003a2.545 2.545 0 0 1-.942 2.653l-1.755 1.316c-.183.137-.223.338-.17.478a15.313 15.313 0 0 0 9.088 9.089c.14.051.34.012.478-.171l1.316-1.755a2.545 2.545 0 0 1 2.653-.942l6.003 1.5a2.547 2.547 0 0 1 1.927 2.47v1.86a4.071 4.071 0 0 1-4.071 4.072h-3.054c-11.804 0-21.375-9.57-21.375-21.375V8.821Z" fill="black"/></svg>');
	--map-pin:url('data:image/svg+xml;utf8,<svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.146 14.532A6.668 6.668 0 0 1 9.979 1.25a6.667 6.667 0 0 1 .834 13.282v1.728c3.288.077 5.833.602 5.833 1.24 0 .69-2.985 1.25-6.667 1.25-3.681 0-6.666-.56-6.666-1.25 0-.637 2.544-1.163 5.833-1.24v-1.728Zm.833-4.949a1.667 1.667 0 1 0 0-3.333 1.667 1.667 0 0 0 0 3.333Z" fill="black"/></svg>');
	--arrow-right:url('data:image/svg+xml;utf8,<svg width="16" height="10" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.293.293a1 1 0 0 1 1.414 0l4 4a1 1 0 0 1 0 1.414l-4 4a1 1 0 0 1-1.414-1.414L12.586 6H1a1 1 0 0 1 0-2h11.586l-2.293-2.293a1 1 0 0 1 0-1.414Z" fill="black"/></svg>');
	--time:url('data:image/svg+xml;utf8,<svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 18.333a8.333 8.333 0 1 1 0-16.667 8.333 8.333 0 1 1 0 16.667Zm.834-8.334V5.833H9.167v5.833h5V9.999h-3.333Z" fill="black"/></svg>');
	--eye:url('data:image/svg+xml;utf8,<svg width="20" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M.457 7c1.274-4.057 5.064-7 9.542-7s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.731 11.057.457 7Zm13.542 0a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z" fill="%239D9D9D"/><path d="M10 8.912a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" fill="%239d9d9d"/></svg>');
	--eye-white:url('data:image/svg+xml;utf8,<svg width="20" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M.457 7c1.274-4.057 5.064-7 9.542-7s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.731 11.057.457 7Zm13.542 0a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z" fill="white"/><path d="M10 8.912a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" fill="white"/></svg>');
	--calendar:url('data:image/svg+xml;utf8,<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 3h4a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4V1h2v2h6V1h2v2ZM4 9v10h16V9H4Zm2 4h5v4H6v-4Z" fill="black"/></svg>');
	--calendar-check:url('data:image/svg+xml;utf8,<svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.497.833V2.5h5V.833h1.667V2.5h3.333a.833.833 0 0 1 .834.833v13.334a.834.834 0 0 1-.834.833h-15a.834.834 0 0 1-.833-.833V3.333a.833.833 0 0 1 .833-.833h3.334V.833h1.666Zm9.167 5.834H3.331v9.166h13.333V6.667Zm-4.137 1.78 1.179 1.178L9.58 13.75l-2.947-2.947 1.18-1.178 1.768 1.768 2.946-2.946Z" fill="black"/></svg>');
	--lightbulb-flash:url('data:image/svg+xml;utf8,<svg width="40" height="40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.507 30.476c-.565-2.425-3.118-4.408-4.165-5.715a15.239 15.239 0 1 1 23.791.004c-1.048 1.305-3.596 3.288-4.162 5.71H12.505h.002Zm15.352 3.81v1.904a3.81 3.81 0 0 1-3.81 3.81h-7.62a3.81 3.81 0 0 1-3.81-3.81v-1.905h15.24Zm-5.715-19.04V7.617l-8.572 11.44h4.762v7.619l8.572-11.43h-4.762Z" fill="black"/></svg>');
	--peoples:url('data:image/svg+xml;utf8,<svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.4 4.4a2.4 2.4 0 1 1-4.8 0 2.4 2.4 0 0 1 4.8 0Zm4 1.6a1.6 1.6 0 1 1-3.2 0 1.6 1.6 0 0 1 3.2 0Zm-3.2 5.6a3.2 3.2 0 0 0-6.4 0V14h6.4v-2.4ZM4.8 6a1.6 1.6 0 1 1-3.2 0 1.6 1.6 0 0 1 3.2 0Zm8 8v-2.4a4.779 4.779 0 0 0-.6-2.325 2.404 2.404 0 0 1 3 2.325V14h-2.4Zm-9-4.725a4.778 4.778 0 0 0-.6 2.325V14H.8v-2.4a2.4 2.4 0 0 1 3-2.325Z" fill="black"/></svg>');
	--question:url('data:image/svg+xml;utf8,<svg width="14" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 13.667A6.666 6.666 0 1 1 7 .334a6.666 6.666 0 0 1 0 13.333ZM6.333 9v1.334h1.333V9H6.333Zm1.333-1.096A2.335 2.335 0 0 0 7 3.333 2.334 2.334 0 0 0 4.71 5.208l1.308.262a1 1 0 1 1 .98 1.196.667.667 0 0 0-.666.667v1h1.333v-.43Z" fill="black"/></svg>');
	--house:url('/static/icons/bank-svgrepo-com.svg');
	--magnifier:url('data:image/svg+xml;utf8,<svg width="18" height="17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m14.025 12.18 3.57 3.57-1.18 1.178-3.568-3.569A7.467 7.467 0 0 1 8.166 15c-4.14 0-7.5-3.36-7.5-7.5 0-4.14 3.36-7.5 7.5-7.5 4.14 0 7.5 3.36 7.5 7.5a7.467 7.467 0 0 1-1.64 4.68Zm-1.671-.617A5.814 5.814 0 0 0 13.998 7.5a5.832 5.832 0 0 0-5.833-5.833A5.831 5.831 0 0 0 2.333 7.5a5.832 5.832 0 0 0 5.833 5.833 5.814 5.814 0 0 0 4.063-1.646l.125-.124Z" fill="black"/></svg>');
	--close:url('data:image/svg+xml;utf8,<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m12 10.35 5.776-5.775 1.65 1.65L13.65 12l5.774 5.775-1.65 1.65-5.774-5.775-5.775 5.775-1.65-1.65L10.351 12 4.576 6.225l1.65-1.65L12 10.35Z" fill="black"/></svg>');
	--soc-ok:url('data:image/svg+xml;utf8,<svg width="12" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><g fill="black"><path d="M5.97 10.103C3.207 10.093.942 7.807.96 5.043A5.063 5.058 0 0 1 6.031.002c2.794.007 5.038 2.292 5.024 5.115-.014 2.76-2.295 4.995-5.087 4.985zM8.48 5.05a2.462 2.46 0 0 0-2.47-2.467 2.465 2.463 0 0 0-2.474 2.496 2.462 2.46 0 0 0 2.488 2.448A2.457 2.454 0 0 0 8.48 5.049z"/><path d="M5.02 14.102c-1.547-.16-2.944-.54-4.14-1.476-.147-.116-.301-.228-.435-.358-.524-.502-.577-1.077-.163-1.67.355-.507.949-.642 1.566-.351.12.057.234.127.343.202 2.228 1.53 5.288 1.572 7.524.07a2.037 2.035 0 0 1 .733-.379c.534-.137 1.03.06 1.318.525.327.533.323 1.054-.08 1.466-.62.635-1.362 1.094-2.189 1.414-.781.303-1.637.455-2.484.555.128.14.189.208.268.289 1.15 1.153 2.305 2.304 3.451 3.46.391.396.472.886.257 1.344-.235.502-.761.831-1.277.797-.327-.022-.582-.185-.809-.414-.867-.872-1.752-1.728-2.601-2.618-.249-.259-.367-.21-.585.016-.874.898-1.76 1.781-2.654 2.66-.4.396-.877.467-1.342.24-.494-.24-.809-.742-.785-1.248.018-.343.186-.604.42-.84 1.14-1.135 2.274-2.274 3.41-3.41.075-.077.145-.156.255-.273z"/></g></svg>');
	--soc-vk:url('data:image/svg+xml;utf8,<svg width="20" height="11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.07 9.447a1.263 1.263 0 0 0-.063-.12c-.318-.573-.926-1.276-1.823-2.11l-.02-.019-.009-.009-.01-.01h-.009c-.407-.388-.665-.649-.773-.782-.197-.255-.242-.513-.134-.774.076-.197.363-.614.86-1.25.26-.337.467-.608.62-.811 1.1-1.464 1.578-2.4 1.432-2.807L19.084.66c-.038-.057-.137-.11-.296-.157-.16-.048-.363-.056-.611-.024l-2.75.019a.356.356 0 0 0-.19.005l-.124.028-.048.024-.038.029a.426.426 0 0 0-.105.1.658.658 0 0 0-.095.167c-.3.77-.64 1.486-1.022 2.148-.235.394-.452.736-.649 1.026-.197.29-.363.503-.496.64a3.45 3.45 0 0 1-.363.329c-.108.083-.19.118-.248.105a7.335 7.335 0 0 1-.162-.038.635.635 0 0 1-.215-.234 1.048 1.048 0 0 1-.11-.373 4.096 4.096 0 0 1-.033-.386 8.094 8.094 0 0 1 .004-.458c.007-.198.01-.331.01-.401 0-.242.005-.505.014-.788l.024-.673c.007-.165.01-.34.01-.525 0-.184-.012-.33-.034-.434a1.488 1.488 0 0 0-.1-.306.515.515 0 0 0-.196-.229 1.101 1.101 0 0 0-.32-.129C10.605.05 10.176.008 9.654.001 8.469-.01 7.709.065 7.372.231c-.134.07-.255.165-.363.286-.115.14-.13.216-.048.229.382.057.652.194.811.41l.058.115c.044.083.089.229.134.439.044.21.073.442.085.697.032.464.032.862 0 1.193-.031.33-.062.589-.09.773a1.548 1.548 0 0 1-.244.659.165.165 0 0 1-.047.047.717.717 0 0 1-.258.048c-.09 0-.197-.044-.325-.134a2.288 2.288 0 0 1-.396-.367 4.91 4.91 0 0 1-.463-.654c-.172-.28-.35-.61-.534-.993l-.153-.277a23.816 23.816 0 0 1-.391-.777c-.166-.34-.312-.67-.44-.988A.63.63 0 0 0 4.48.63L4.432.602a.653.653 0 0 0-.153-.08 1.014 1.014 0 0 0-.22-.063L1.444.48c-.267 0-.449.06-.544.18L.862.718A.309.309 0 0 0 .833.87c0 .07.02.156.057.257a31.51 31.51 0 0 0 1.246 2.597c.449.833.838 1.505 1.17 2.014.33.509.667.99 1.011 1.441.344.452.571.741.682.869.112.127.2.222.263.286l.239.23c.152.152.377.335.673.548.296.213.623.423.983.63.36.207.778.375 1.255.506.477.13.942.183 1.394.158h1.098c.222-.02.39-.09.505-.21l.038-.048a.637.637 0 0 0 .072-.177.967.967 0 0 0 .033-.262c-.006-.274.015-.52.062-.74.048-.22.102-.385.163-.496a1.217 1.217 0 0 1 .367-.42.622.622 0 0 1 .076-.034c.153-.05.333-.001.54.149.207.149.4.334.582.553.182.22.4.466.654.74.255.274.477.477.668.61l.191.115c.127.077.293.147.497.21.203.064.381.08.534.048l2.444-.038c.241 0 .43-.04.563-.12.133-.079.213-.167.238-.262a.74.74 0 0 0 .005-.325 1.202 1.202 0 0 0-.067-.252Z" fill="black"/></svg>');
	--soc-youtube:url('data:image/svg+xml;utf8,<svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.953 5.416c.38 1.485.38 4.585.38 4.585s0 3.1-.38 4.585c-.212.82-.831 1.466-1.615 1.685-1.424.396-6.338.396-6.338.396s-4.91 0-6.337-.396a2.342 2.342 0 0 1-1.615-1.685C1.667 13.1 1.667 10 1.667 10s0-3.1.38-4.585c.212-.821.832-1.467 1.616-1.685C5.089 3.334 10 3.334 10 3.334s4.914 0 6.338.397a2.342 2.342 0 0 1 1.615 1.685Zm-9.62 7.501 5-2.916-5-2.917v5.833Z" fill="black"/></svg>');
	--case-mask:url('data:image/svg+xml;utf8,<svg width="26" height="26" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.963 7.963v-1.26a3.778 3.778 0 0 1 3.778-3.778h2.52a3.778 3.778 0 0 1 3.777 3.778v1.26h2.519a2.519 2.519 0 0 1 2.519 2.518v4.496A28.905 28.905 0 0 1 13 16.778a28.902 28.902 0 0 1-10.075-1.8V10.48a2.519 2.519 0 0 1 2.519-2.518h2.518Zm2.519-1.26a1.26 1.26 0 0 1 1.26-1.26h2.518a1.26 1.26 0 0 1 1.26 1.26v1.26h-5.038v-1.26ZM11.742 13A1.26 1.26 0 0 1 13 11.74h.012a1.26 1.26 0 0 1 0 2.52h-.012A1.26 1.26 0 0 1 11.74 13Z" fill="black"/><path d="M2.926 17.65v2.906a2.519 2.519 0 0 0 2.519 2.519h15.112a2.519 2.519 0 0 0 2.519-2.519V17.65A31.45 31.45 0 0 1 13 19.297c-3.521 0-6.91-.58-10.075-1.647Z" fill="black"/></svg>');
	--call-mask:url('data:image/svg+xml;utf8,<svg width="18" height="18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m5.076 16.353-4.409.98.98-4.409A8.333 8.333 0 1 1 17.334 9a8.333 8.333 0 0 1-12.258 7.353ZM4.834 9a4.167 4.167 0 0 0 8.333 0H11.5a2.5 2.5 0 1 1-5 0H4.834Z" fill="black"/></svg>');
	--ecz-logo:url('data:image/svg+xml;utf8,<svg width="26" height="26" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m13 1.842 9.75 5.625v2.005L10.827 16.49 8.961 15.43v-2.144l8.218-4.818L13 6.047 6.9 9.583v7.018L13 20.11l3.036-1.755 3.037-1.754v-2.618l3.677-2.116v6.85L13 24.343l-9.75-5.626V7.467L13 1.842Z" fill="black"/></svg>');
	--ecz-logo-color:url('data:image/svg+xml;utf8,<svg width="26" height="26" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="m13 1.842 9.75 5.625v2.005L10.827 16.49 8.961 15.43v-2.144l8.218-4.818L13 6.047 6.9 9.583v7.018L13 20.11l3.036-1.755 3.037-1.754v-2.618l3.677-2.116v6.85L13 24.343l-9.75-5.626V7.467L13 1.842Z" fill="%23E22631"/></svg>');
	--more:url('data:image/svg+xml;utf8,<svg width="18" height="18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 .6A2.4 2.4 0 0 0 .6 3v2.4A2.4 2.4 0 0 0 3 7.8h2.4a2.4 2.4 0 0 0 2.4-2.4V3A2.4 2.4 0 0 0 5.4.6H3Zm0 9.6a2.4 2.4 0 0 0-2.4 2.4V15A2.4 2.4 0 0 0 3 17.4h2.4A2.4 2.4 0 0 0 7.8 15v-2.4a2.4 2.4 0 0 0-2.4-2.4H3ZM10.2 3A2.4 2.4 0 0 1 12.6.6H15A2.4 2.4 0 0 1 17.4 3v2.4A2.4 2.4 0 0 1 15 7.8h-2.4a2.4 2.4 0 0 1-2.4-2.4V3Zm0 9.6a2.4 2.4 0 0 1 2.4-2.4H15a2.4 2.4 0 0 1 2.4 2.4V15a2.4 2.4 0 0 1-2.4 2.4h-2.4a2.4 2.4 0 0 1-2.4-2.4v-2.4Z" fill="black"/></svg>');
	--people:url('data:image/svg+xml;utf8,<svg width="26" height="26" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M23.4 13a10.4 10.4 0 1 1-20.8 0 10.4 10.4 0 0 1 20.8 0Zm-7.8-3.9a2.6 2.6 0 1 1-5.2 0 2.6 2.6 0 0 1 5.2 0ZM13 14.3a6.5 6.5 0 0 0-5.91 3.791 7.782 7.782 0 0 0 5.91 2.71 7.783 7.783 0 0 0 5.91-2.71 6.5 6.5 0 0 0-5.91-3.79Z" fill="black"/></svg>');
	--chat:url('data:image/svg+xml;utf8,<svg width="25" height="25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.69 3.81c-.759-.604-1.668-1.06-2.577-1.06H6.386c-.909 0-1.818.455-2.575 1.06-.606.758-1.061 1.667-1.061 2.576v7.273c0 .91.455 1.818 1.06 2.576a3.548 3.548 0 0 0 2.576 1.06h3.637v5.455l5.454-5.454h3.637c.909 0 1.818-.455 2.575-1.061a3.548 3.548 0 0 0 1.061-2.576V6.386c0-.909-.454-1.818-1.06-2.575zm-5.304 7.122H13.66v2.727h-1.818v-2.727H9.114V9.114h2.727V6.386h1.818v2.728h2.727z" fill="black"/></svg>');
	--chat-alt:url('data:image/svg+xml;utf8,<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.4 6a2.4 2.4 0 0 1 2.4-2.4h8.4A2.4 2.4 0 0 1 15.6 6v4.8a2.4 2.4 0 0 1-2.4 2.4h-2.4l-3.6 3.6v-3.6H4.8a2.4 2.4 0 0 1-2.4-2.4V6Z" fill="black"/><path d="M18.001 8.4v2.4a4.8 4.8 0 0 1-4.8 4.8h-1.406l-2.12 2.12c.337.18.72.28 1.126.28h2.4l3.6 3.6V18h2.4a2.4 2.4 0 0 0 2.4-2.4v-4.8a2.4 2.4 0 0 0-2.4-2.4h-1.2Z" fill="black"/></svg>');
	--chat-dots:url('data:image/svg+xml;utf8,<svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M18 5v8a2 2 0 0 1-2 2h-5l-5 4v-4H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2ZM7 8H5v2h2V8Zm2 0h2v2H9V8Zm6 0h-2v2h2V8Z" fill="black"/></svg>');
	--people-alt:url('data:image/svg+xml;utf8,<svg width="16" height="21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 21a8 8 0 0 1 16 0H0Zm8-9c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6Z" fill="black"/></svg>');
	--people-star:url('data:image/svg+xml;utf8,<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 14v8H3a8 8 0 0 1 8-8Zm6 7.5-2.939 1.545.561-3.272-2.377-2.318 3.286-.478L17 14l1.47 2.977 3.285.478-2.377 2.318.56 3.272L17 21.5ZM11 13c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6Z" fill="black"/></svg>');
	--heart:url('data:image/svg+xml;utf8,<svg width="18" height="17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.767 6.733a.833.833 0 0 0-1.178 0L9 7.322a1.667 1.667 0 1 1-2.356-2.357L11.335.272a5.417 5.417 0 0 1 5.314 8.806l-1.757 1.78-4.125-4.125Zm-9.133-5.01A5.42 5.42 0 0 1 8.308.942L5.464 3.787a3.333 3.333 0 0 0 4.594 4.828l.12-.114 3.536 3.535-3.536 3.536a1.667 1.667 0 0 1-2.356 0L1.633 9.383a5.417 5.417 0 0 1 0-7.66h.001Z" fill="black"/></svg>');
	--graph:url('data:image/svg+xml;utf8,<svg width="16" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 8a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V8Zm6-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v9a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V4Zm6-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V1Z" fill="url(%23a)"/><defs><linearGradient id="a" x1="14.857" y1="-.636" x2="5.727" y2="16.287" gradientUnits="userSpaceOnUse"><stop offset=".022" stop-color="black"/><stop offset="1" stop-color="black" stop-opacity=".7"/></linearGradient></defs></svg>');
	--quote:url('data:image/svg+xml;utf8,<svg width="40" height="40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m14.863 8.67.965 1.489c-2.571 1.48-4.167 3.163-5.177 4.803-1.067 1.736-1.462 3.396-1.683 4.655l-.176.995.898-.465c.788-.407 1.857-.565 2.939-.464 2.76.256 4.923 2.518 4.923 5.317a5.333 5.333 0 0 1-5.334 5.333c-1.644 0-3.224-.755-4.216-1.807C6.378 26.8 5.5 24.88 5.5 21.685c0-5.462 3.756-10.435 9.363-13.016Zm16.667 0 .965 1.489c-2.572 1.48-4.167 3.163-5.177 4.803-1.068 1.736-1.462 3.396-1.684 4.655l-.175.995.898-.465c.787-.407 1.857-.565 2.938-.464 2.761.256 4.923 2.518 4.923 5.317a5.333 5.333 0 0 1-5.333 5.333c-1.644 0-3.224-.755-4.216-1.807-1.625-1.726-2.502-3.646-2.502-6.841 0-5.462 3.756-10.435 9.363-13.016Z" fill="black" stroke="black"/></svg>');
	--file-search:url('data:image/svg+xml;utf8,<svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.333 1.667 17.5 5.833v11.674a.827.827 0 0 1-.828.826H3.327a.833.833 0 0 1-.827-.826V2.493c0-.456.37-.826.828-.826h10.005Zm-2.059 10.371 1.842 1.842 1.179-1.177-1.842-1.842a3.334 3.334 0 1 0-6.2-1.904 3.333 3.333 0 0 0 5.021 3.081Zm-.515-1.693a1.668 1.668 0 0 1-2.865-1.172 1.667 1.667 0 1 1 2.865 1.172Z" fill="black"/></svg>');
	--eye-2:url('data:image/svg+xml;utf8,<svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.667a8.333 8.333 0 1 1 0 16.666 8.333 8.333 0 0 1 0-16.666Zm0 4.166c-.427 0-.839.065-1.227.184a2.083 2.083 0 1 1-2.755 2.756A4.167 4.167 0 1 0 10 5.833Z" fill="black"/></svg>');
	--shield:url('/static/icons/shield-tick-svgrepo-com.svg');
	--case-alt:url('data:image/svg+xml;utf8,<svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.5 10.834v2.5h5v-2.5h5.833v5.833a.833.833 0 0 1-.834.833h-15a.833.833 0 0 1-.833-.833v-5.834h5.833Zm1.666-1.667h1.667v2.5H9.166v-2.5Zm-3.333-5v-2.5a.833.833 0 0 1 .833-.834h6.667a.833.833 0 0 1 .833.834v2.5h3.333a.833.833 0 0 1 .834.833v4.167h-5.834V7.5h-5v1.667H1.666V5a.833.833 0 0 1 .833-.833h3.334ZM7.499 2.5v1.667h5V2.5h-5Z" fill="black"/></svg>');
	--dp-alt:url('data:image/svg+xml;utf8,<svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.225 0v.01h.031v12.797h-3.102V3.033h-6.31v9.774H3.742V.01h.036V0h12.447Zm.671 17.694H3.102v1.873H0v-4.993h20v3.12h-.002v1.873h-3.102v-1.873Z" fill="black"/></svg>');
	--world:url('data:image/svg+xml;utf8,<svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 18.333a8.333 8.333 0 1 1 0-16.666 8.333 8.333 0 0 1 0 16.666Zm5.295-5.04v-.087c0-.769 0-1.12-.543-1.43a6.155 6.155 0 0 0-.538-.271c-.306-.14-.508-.23-.781-.63a9.21 9.21 0 0 1-.097-.143c-.287-.438-.495-.753-1.285-.628-1.554.247-1.67.52-1.738.982l-.01.075c-.101.675-.12.902.162 1.198 1.054 1.106 1.686 1.903 1.878 2.37.093.228.333.917.168 1.598a6.822 6.822 0 0 0 2.626-1.864c.091-.311.158-.7.158-1.17ZM10 3.194c-1.93 0-3.675.805-4.913 2.097.148.102.276.246.364.445.17.38.17.773.17 1.12 0 .274 0 .534.088.721.12.257.638.367 1.096.462.164.035.332.07.485.113.422.116.749.495 1.01.8.108.125.269.311.35.358a.847.847 0 0 0 .241-.415c.052-.184.037-.345-.037-.434-.467-.55-.441-1.608-.297-1.999.227-.615.935-.57 1.453-.536.194.012.375.025.512.007.518-.065.678-.854.79-1.008.244-.333.99-.836 1.45-1.146A6.781 6.781 0 0 0 10 3.194Z" fill="black"/></svg>');
	--medal:url('data:image/svg+xml;utf8,<svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.166 12.704v5.727a.416.416 0 0 1-.63.357L10 16.666l-3.536 2.122a.416.416 0 0 1-.631-.358v-5.725a6.666 6.666 0 1 1 8.333 0v-.001ZM10 12.5a5 5 0 1 0 0-10 5 5 0 0 0 0 10Zm0-1.667a3.333 3.333 0 1 1 0-6.666 3.333 3.333 0 0 1 0 6.666Z" fill="black"/></svg>');
	--doc:url('data:image/svg+xml;utf8,<svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.834 18.334H4.167a2.5 2.5 0 0 1-2.5-2.5V2.5a.833.833 0 0 1 .833-.833h11.667A.833.833 0 0 1 15 2.5v5.834h3.334v7.5a2.5 2.5 0 0 1-2.5 2.5ZM15 10v5.834a.833.833 0 0 0 1.667 0V10H15ZM4.167 5v5h5V5h-5Zm0 5.834V12.5H12.5v-1.666H4.167Zm0 2.5V15H12.5v-1.666H4.167Zm1.667-6.667H7.5v1.667H5.834V6.667Z" fill="black"/></svg>');
	--ext-link:url('data:image/svg+xml;utf8,<svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.333 5v1.667H4.167v9.166h9.166v-4.166H15v5a.833.833 0 0 1-.833.833H3.333a.833.833 0 0 1-.833-.833V5.833A.833.833 0 0 1 3.333 5h5ZM17.5 2.5v6.667h-1.667V5.344L9.34 11.84l-1.178-1.178 6.493-6.494h-3.82V2.5H17.5Z" fill="black"/></svg>');
	--thumbup:url('data:image/svg+xml;utf8,<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 9h3v12H2a1 1 0 0 1-1-1V10a1 1 0 0 1 1-1Zm5.293-1.293 6.4-6.4a.5.5 0 0 1 .654-.047l.853.64a1.5 1.5 0 0 1 .553 1.57L14.6 8H21a2 2 0 0 1 2 2v2.104a2 2 0 0 1-.15.762l-3.095 7.515a1 1 0 0 1-.925.62H8a1 1 0 0 1-1-1V8.413a1 1 0 0 1 .293-.707Z" fill="black"/></svg>');
	--flag-heart:url('data:image/svg+xml;utf8,<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.455 19 2 22.5V4a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H6.455Zm5.563-4.3 3.359-3.359a2.249 2.249 0 1 0-3.182-3.182l-.177.177-.177-.177a2.25 2.25 0 1 0-3.182 3.182l3.359 3.359Z" fill="black"/></svg>');
	--square:url('data:image/svg+xml;utf8,<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.2 4H21v5.4h-1.8V5.8h-3.6V4h3.6ZM4.8 4h3.6v1.8H4.8v3.6H3V4h1.8Zm14.4 14.4v-3.6H21v5.4h-5.4v-1.8h3.6Zm-14.4 0h3.6v1.8H3v-5.4h1.8v3.6Z" fill="black"/></svg>');
	--draft:url('data:image/svg+xml;utf8,<svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.667 1.667c.46 0 .833.373.833.833v3.131l-7.5 7.5-.004 3.532 3.538.005 3.966-3.966V17.5c0 .46-.373.834-.833.834H3.333A.834.834 0 0 1 2.5 17.5v-15c0-.46.373-.833.833-.833h13.334Zm1.481 5.673 1.179 1.179L12.845 15 11.665 15l.002-1.177 6.481-6.482ZM10 10H5.833v1.667H10V10Zm2.5-3.333H5.833v1.667H12.5V6.667Z" fill="black"/></svg>');
	--checkbox-circle:url('data:image/svg+xml;utf8,<svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.001 18.333a8.333 8.333 0 1 1 0-16.667 8.333 8.333 0 0 1 0 16.667Zm-.83-5 5.891-5.893-1.178-1.178-4.714 4.714-2.357-2.357-1.178 1.178 3.535 3.536Z" fill="black"/></svg>');
	--vidicon:url('data:image/svg+xml;utf8,<svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m14.165 7.666 4.345-3.041a.417.417 0 0 1 .655.341v10.067a.417.417 0 0 1-.655.342l-4.345-3.042v3.5a.833.833 0 0 1-.833.833H1.665a.834.834 0 0 1-.833-.833V4.166a.833.833 0 0 1 .833-.833h11.667a.833.833 0 0 1 .833.833v3.5Zm-10-1v1.667h1.667V6.666H4.165Z" fill="black"/></svg>');
	--play-circle:url('data:image/svg+xml;utf8,<svg width="34" height="34" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.999 33.666C7.794 33.666.332 26.205.332 17S7.794.333 16.999.333C26.204.333 33.665 7.795 33.665 17c0 9.205-7.461 16.666-16.666 16.666Zm-2.297-22.641a.667.667 0 0 0-1.037.553v10.843a.666.666 0 0 0 1.037.554l8.132-5.42a.668.668 0 0 0 0-1.11l-8.134-5.42h.002Z" fill="black"/></svg>');
	--phone-arrow-down:url('data:image/svg+xml;utf8,<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m14.966 10.208 2.113-2.113a.641.641 0 0 0-.907-.907L14.059 9.3V8.283a.642.642 0 0 0-1.284 0v2.569a.639.639 0 0 0 .642.64h2.567a.642.642 0 0 0 0-1.284h-1.018Z" fill="black"/><path d="M7 7.642A.642.642 0 0 1 7.642 7h1.381a.642.642 0 0 1 .633.536l.475 2.846a.641.641 0 0 1-.347.68l-.993.496a7.082 7.082 0 0 0 3.917 3.918l.497-.994a.642.642 0 0 1 .68-.346l2.845.475a.642.642 0 0 1 .537.632v1.382a.641.641 0 0 1-.642.642h-1.283A8.341 8.341 0 0 1 7 8.925V7.642Z" fill="black"/></svg>');
	--search-eye:url('data:image/svg+xml;utf8,<svg width="40" height="40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M31.566 28.782 40 37.214 37.214 40l-8.432-8.434a17.642 17.642 0 0 1-11.06 3.878C7.939 35.444 0 27.503 0 17.721 0 7.939 7.94 0 17.722 0s17.721 7.94 17.721 17.722a17.642 17.642 0 0 1-3.877 11.06ZM20.041 10.194a7.876 7.876 0 1 0 5.21 5.21 3.94 3.94 0 0 1-7.347-.45 3.937 3.937 0 0 1 2.137-4.762v.002Z" fill="black"/></svg>');
	--slider-arrow:url('data:image/svg+xml;utf8,<svg width="8" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m2.828 7 4.95 4.95-1.414 1.414L0 7 6.364.636 7.778 2.05 2.828 7Z" fill="black"/></svg>');
	--arrow-down:url('data:image/svg+xml;utf8,<svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m9.999 10.977 4.125-4.125 1.178 1.178-5.303 5.303L4.695 8.03l1.179-1.178 4.125 4.125Z" fill="black"/></svg>');
	--people-search:url('data:image/svg+xml;utf8,<svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 9.333v5.333H2.665a5.333 5.333 0 0 1 5.333-5.333Zm0-.667c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4Zm6.297 4.688 1.002 1.003-.942.943-1.003-1.003a2.667 2.667 0 1 1 .943-.943Zm-2.298-.02a1.333 1.333 0 1 0 0-2.668 1.333 1.333 0 0 0 0 2.667Z" fill="black"/></svg>');
	--user-voice:url('data:image/svg+xml;utf8,<svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.666 14.666a5.333 5.333 0 1 1 10.667 0H.666Zm5.333-6c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4Zm6.164-6.544c.333.807.504 1.672.503 2.544a6.646 6.646 0 0 1-.503 2.544l-1.118-.813c.191-.557.288-1.142.288-1.73 0-.59-.096-1.174-.287-1.731l1.117-.814Zm2.202-1.6a9.295 9.295 0 0 1 .968 4.144 9.298 9.298 0 0 1-.968 4.144l-1.097-.797a7.97 7.97 0 0 0 .731-3.347 7.974 7.974 0 0 0-.731-3.346l1.097-.798Z" fill="black"/></svg>');
	--card-broken:url('data:image/svg+xml;utf8,<svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.232 1.996c-.44.013-.883.117-.898.672v2.664h4.92L7.734 2H2.656c-.13-.003-.277-.008-.424-.004zM9.377 2l-1.48 3.332h6.771V3.117c.05-.472-.055-1.125-.666-1.117H9.377zM1.332 6.668v6.05c-.017.51-.054 1.268.668 1.282h5.99l-1.85-2.959 1.505-3.008-.819-1.365H1.332zm7.244 0 .78 1.299-1.497 2.992L9.76 14h3.75c.483.044 1.165-.033 1.159-.668V6.668H8.576zm1.426 4h2.666V12h-2.666v-1.332z" style="fill:black"/></svg>');
	--card:url('data:image/svg+xml;utf8,<svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.33 8.333v8.334a.834.834 0 0 1-.833.833h-15a.833.833 0 0 1-.833-.833V8.333h16.667Zm0-1.666H1.665V3.333a.833.833 0 0 1 .833-.833h15a.833.833 0 0 1 .834.833v3.334Zm-5.833 6.666V15h3.334v-1.667h-3.334Z" fill="black"/></svg>');
	--doc-shield:url('data:image/svg+xml;utf8,<svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 6.667H7.333v4.921c0 1.042.518 2.016 1.383 2.595l.722.484H2.662A.662.662 0 0 1 2 14.005V1.995c0-.358.298-.662.665-.662h8L14 4.668v2ZM8.667 8H14v3.588c0 .598-.297 1.156-.791 1.487l-1.876 1.258-1.875-1.257a1.79 1.79 0 0 1-.791-1.487V8Z" fill="black"/></svg>');
	--judge-hammer:url('data:image/svg+xml;utf8,<svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.334 13.334v1.333h-8v-1.333h8ZM9.724.458l5.186 5.185-.943.944-.706-.236L11.609 8l3.772 3.77-.943.943-3.77-3.771-1.603 1.603.188.754-.943.943-5.185-5.185.943-.943.753.188 4.196-4.195-.235-.707.943-.943Z" fill="black"/></svg>');
	--people-protect:url('data:image/svg+xml;utf8,<svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.522 1.884 8 .667l5.478 1.217a.667.667 0 0 1 .522.65v6.659a4 4 0 0 1-1.781 3.328L8 15.332 3.781 12.52A4 4 0 0 1 2 9.194V2.534a.667.667 0 0 1 .522-.65ZM8 7.334A1.667 1.667 0 1 0 8 4a1.667 1.667 0 0 0 0 3.333Zm-2.982 3.332h5.964a3 3 0 0 0-5.964 0Z" fill="black"/></svg>');
	--phone-income:url('data:image/svg+xml;utf8,<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3 5.571A2.571 2.571 0 0 1 5.571 3h1.176c.738 0 1.38.502 1.56 1.217l.947 3.791a1.607 1.607 0 0 1-.595 1.676l-1.108.831c-.116.087-.141.214-.108.302a9.672 9.672 0 0 0 5.74 5.74c.088.033.214.008.302-.108l.831-1.108a1.607 1.607 0 0 1 1.676-.595l3.79.947c.716.18 1.218.822 1.218 1.56v1.176A2.57 2.57 0 0 1 18.429 21H16.5C9.045 21 3 14.955 3 7.5V5.571Z" fill="black"/><path d="M16.966 8.625 20.67 4.92a1.125 1.125 0 0 0-1.59-1.59l-3.705 3.704V5.25a1.125 1.125 0 1 0-2.25 0v4.503a1.12 1.12 0 0 0 1.125 1.122h4.5a1.125 1.125 0 1 0 0-2.25h-1.784Z" fill="black"/></svg>');
	--star-smile:url('data:image/svg+xml;utf8,<svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m10 .417 3.522 5.152 5.989 1.758-3.813 4.941.18 6.238L10 16.409l-5.877 2.098.179-6.238L.489 7.326 6.48 5.57 10 .417ZM8.333 10H6.667a3.333 3.333 0 0 0 6.662.166l.004-.166h-1.666a1.667 1.667 0 0 1-3.33.125L8.334 10Z" fill="black"/></svg>');
	--coins:url('data:image/svg+xml;utf8,<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21 9.5v3c0 2.485-4.03 4.5-9 4.5s-9-2.015-9-4.5v-3c0 2.485 4.03 4.5 9 4.5s9-2.015 9-4.5Zm-18 5c0 2.485 4.03 4.5 9 4.5s9-2.015 9-4.5v3c0 2.485-4.03 4.5-9 4.5s-9-2.015-9-4.5v-3Zm9-2.5c-4.97 0-9-2.015-9-4.5S7.03 3 12 3s9 2.015 9 4.5-4.03 4.5-9 4.5Z" fill="black"/></svg>');
	--arrow-back:url('data:image/svg+xml;utf8,<svg width="28" height="28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.132 12.833h14.2v2.334h-14.2l6.258 6.258-1.65 1.65L4.666 14l9.074-9.074 1.65 1.65-6.258 6.257Z" fill="black"/></svg>');
	--share:url('data:image/svg+xml;utf8,<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 14h-2a8.999 8.999 0 0 0-7.968 4.81C3.011 18.54 3 18.27 3 18 3 12.477 7.477 8 13 8V3l10 8-10 8v-5Z" fill="url(%23a)"/><defs><linearGradient id="a" x1="21.571" y1="2.273" x2="11.665" y2="22.357" gradientUnits="userSpaceOnUse"><stop offset=".022" stop-color="black"/><stop offset="1" stop-color="black" stop-opacity=".7"/></linearGradient></defs></svg>');
	--clock:url('data:image/svg+xml;utf8,<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10Zm1-10V7h-2v7h6v-2h-4Z" fill="black"/></svg>');
	--copy:url('data:image/svg+xml;utf8,<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 6V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-3v3c0 .552-.45 1-1.007 1H4.007A1 1 0 0 1 3 21l.003-14c0-.552.45-1 1.007-1H7Zm2 0h8v10h2V4H9v2Zm-2 5v2h6v-2H7Zm0 4v2h6v-2H7Z" fill="black"/></svg>');
	--magic:url('data:image/svg+xml;utf8,<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m15.225 15.507-2.213 4.65a.6.6 0 0 1-.977.155l-3.542-3.739a.6.6 0 0 0-.357-.182l-5.107-.668a.6.6 0 0 1-.449-.88l2.462-4.525a.6.6 0 0 0 .062-.396L4.161 4.86a.6.6 0 0 1 .7-.7l5.063.943a.6.6 0 0 0 .396-.062l4.524-2.462a.6.6 0 0 1 .881.45l.668 5.106a.6.6 0 0 0 .182.357l3.74 3.542a.6.6 0 0 1-.156.977l-4.65 2.213a.6.6 0 0 0-.284.284Zm.797 1.927 1.414-1.414 4.243 4.242-1.415 1.415-4.242-4.243Z" fill="black"/></svg>');
	--file-edit:url('data:image/svg+xml;utf8,<svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.84 1.833c.46 0 .833.373.833.833v3.131l-7.5 7.5-.004 3.532 3.538.005 3.966-3.966v4.798c0 .46-.373.834-.833.834H2.506a.834.834 0 0 1-.833-.834v-15c0-.46.373-.833.833-.833zm1.481 5.673L18.5 8.685l-6.482 6.481h-1.18l.002-1.177 6.481-6.482zm-8.148 2.66H5.006v1.667h4.167zm2.5-3.333H5.006V8.5h6.667z" fill="black"/></svg>');
	--wallet:url('data:image/svg+xml;utf8,<svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.664 7.5h15.833a.833.833 0 0 1 .834.833v8.334a.834.834 0 0 1-.834.833h-15a.833.833 0 0 1-.833-.833V7.5Zm.833-5h12.5v3.333H1.664v-2.5a.833.833 0 0 1 .833-.833Zm10 9.167v1.666h2.5v-1.666h-2.5Z" fill="black"/></svg>');
	--hand-heart:url('data:image/svg+xml;utf8,<svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.778 9.584h1.808a3.75 3.75 0 0 1 3.75 3.75H7.502v.834h6.667v-.834a4.648 4.648 0 0 0-.738-2.5h2.405a4.167 4.167 0 0 1 3.763 2.376c-1.97 2.601-5.161 4.291-8.763 4.291-2.3 0-4.25-.492-5.833-1.354V8.393a5.806 5.806 0 0 1 2.775 1.191ZM3.336 7.501a.833.833 0 0 1 .827.736l.006.097v7.5a.833.833 0 0 1-.833.834H1.669a.833.833 0 0 1-.833-.834v-7.5a.833.833 0 0 1 .833-.833h1.667Zm8.038-4.52.295.295.295-.295a2.083 2.083 0 1 1 2.946 2.947l-3.24 3.24-3.242-3.242a2.083 2.083 0 1 1 2.946-2.946Z" fill="black"/></svg>');
	--checkbox-multiple:url('data:image/svg+xml;utf8,<svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.835 5.833V2.499a.833.833 0 0 1 .833-.833h10.833a.833.833 0 0 1 .834.833v10.834a.833.833 0 0 1-.834.833h-3.333v3.328c0 .463-.374.839-.84.839H2.509a.837.837 0 0 1-.84-.84L1.67 6.673c0-.463.375-.84.84-.84h3.325Zm1.666 0h5.828c.463 0 .839.374.839.839v5.827h2.5V3.333H7.501v2.5Zm-.414 9.166 4.713-4.714-1.178-1.178-3.535 3.536-1.769-1.769-1.178 1.179 2.947 2.946Z" fill="black"/></svg>');
	--bookmark:url('data:image/svg+xml;utf8,<svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.667 18.334H5.417A2.917 2.917 0 0 1 2.5 15.417V4.167a2.5 2.5 0 0 1 2.5-2.5h11.667a.833.833 0 0 1 .833.833v15a.833.833 0 0 1-.833.834Zm-.834-1.667v-2.5H5.417a1.25 1.25 0 0 0 0 2.5h10.416Zm-7.5-13.333V10l2.917-1.666L14.167 10V3.334H8.333Z" fill="black"/></svg>');
	--bus:url('data:image/svg+xml;utf8,<svg width="20" height="20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.334 13.013H4.667v.667a.667.667 0 0 1-.666.667h-.667a.667.667 0 0 1-.667-.667v-.667h-.666V7.68h-.667V5.013h.667v-2A1.333 1.333 0 0 1 3.334 1.68h9.333a1.333 1.333 0 0 1 1.334 1.333v2h.666V7.68h-.666v5.333h-.667v.667a.667.667 0 0 1-.667.667h-.666a.667.667 0 0 1-.667-.667Zm-8-10v6h9.333v-6zm0 7.334v1.333h2.667v-1.333zm6.667 0v1.333h2.666s.233-.868 0-1.333c-.465-.932-2.666 0-2.666 0z" fill="black"/></svg>');
	--minibus:url('data:image/svg+xml;utf8,<svg width="20" height="20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.334 13.013H4.667v.667a.667.667 0 0 1-.666.667H2.667a.667.667 0 0 1-.666-.667v-6h-.667V5.013h.667v-2A1.333 1.333 0 0 1 3.334 1.68h9.333a1.333 1.333 0 0 1 1.334 1.333v2h.666V7.68h-.666v6a.667.667 0 0 1-.667.667h-1.333a.667.667 0 0 1-.667-.667Zm-8-10V7.68h9.333V3.013Zm1.667 8.667a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm6 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" fill="black"/></svg>');
	--subway:url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path fill="black" d="M0 0h24v24H0z"/><path d="m17.2 19.52 1.8 1.5v.5H5v-.5l1.8-1.5H5a2 2 0 0 1-2-2v-11a4 4 0 0 1 4-4h10a4 4 0 0 1 4 4v11a2 2 0 0 1-2 2zm-6.2-8v-7H7a2 2 0 0 0-2 2v5zm2 0h6v-5a2 2 0 0 0-2-2h-4zm-5.5 6a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm9 0a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/></svg>');
	--customer-service:url('data:image/svg+xml;utf8,<svg width="30" height="30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M26.25 10a2.5 2.5 0 0 1 2.5 2.5v5a2.5 2.5 0 0 1-2.5 2.5h-1.328A10 10 0 0 1 15 28.75v-2.5a7.5 7.5 0 0 0 7.5-7.5v-7.5a7.5 7.5 0 0 0-15 0V20H3.75a2.5 2.5 0 0 1-2.5-2.5v-5a2.5 2.5 0 0 1 2.5-2.5h1.327a10.001 10.001 0 0 1 19.845 0h1.328ZM9.7 19.73l1.325-2.12A7.464 7.464 0 0 0 15 18.75a7.464 7.464 0 0 0 3.975-1.14l1.325 2.12a9.953 9.953 0 0 1-5.3 1.52 9.953 9.953 0 0 1-5.3-1.52Z" fill="black"/></svg>');
	--draft-alt:url('data:image/svg+xml;utf8,<svg width="30" height="30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M25 2.5c.69 0 1.25.56 1.25 1.25v4.696l-2.5 2.5V5H6.25v20h17.5v-3.448l2.5-2.5v7.198c0 .69-.56 1.25-1.25 1.25H5c-.69 0-1.25-.56-1.25-1.25V3.75c0-.69.56-1.25 1.25-1.25h20Zm2.223 8.51 1.767 1.768-9.723 9.722-1.77-.003.003-1.764 9.723-9.723ZM16.25 15v2.5H10V15h6.25ZM20 10v2.5H10V10h10Z" fill="black"/></svg>');
	--hammer:url('data:image/svg+xml;utf8,<svg width="30" height="30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.5 25v2.5h-15V25h15ZM18.233.857l9.722 9.723-1.767 1.77-1.325-.443L21.765 15l7.072 7.071-1.768 1.768L20 16.767l-3.005 3.005.354 1.415-1.769 1.768-9.723-9.723 1.77-1.767 1.412.352 7.867-7.866-.441-1.325L18.233.857Zm.883 4.42-8.838 8.838 4.418 4.42 8.839-8.838-4.419-4.42Z" fill="black"/></svg>');
	--open-arm:url('data:image/svg+xml;utf8,<svg width="30" height="30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 15a6.25 6.25 0 1 1 0-12.5A6.25 6.25 0 0 1 15 15Zm7.5 6.25v6.25H20v-6.25c0-5.564 3.305-10.356 8.059-12.52l1.035 2.275A11.252 11.252 0 0 0 22.5 21.25Zm-12.5 0v6.25H7.5v-6.25A11.253 11.253 0 0 0 .906 11.006L1.941 8.73A13.752 13.752 0 0 1 10 21.25Z" fill="black"/></svg>');
	--safe-shield:url('/static/icons/safe-shield-2-svgrepo-com.svg');
	--credit-card:url('/static/icons/credit-card-svgrepo-com.svg');
	--calc:url('/static/icons/calculate-svgrepo-com.svg');
	--phone-call:url('/static/icons/phone-call-svgrepo-com.svg');
	--percent:url('/static/icons/percent-svgrepo-com.svg');
	--safe-money:url('/static/icons/money-svgrepo-com.svg');
	--chancel:url('/static/icons/cancel-close-delete-svgrepo-com.svg');

	--logo-ya-dc:url('data:image/svg+xml;utf8,<svg width="22" height="22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.341 19.236h-3.06V4.33h-1.365c-2.502 0-3.81 1.23-3.81 3.068 0 2.083.904 3.05 2.77 4.28l1.54 1.023-4.426 6.535H4.7l3.983-5.834c-2.29-1.61-3.579-3.182-3.579-5.833C5.104 4.254 7.452 2 11.896 2h4.426l.02 17.236Z" fill="%23FC3F1D"/></svg>');
	--logo-dp-dc:url('data:image/svg+xml;utf8,<svg width="28" height="28" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23a)"><path d="M26.323 0H1.677C.75 0 0 .768 0 1.714v24.572C0 27.233.75 28 1.677 28h24.646C27.25 28 28 27.233 28 26.286V1.714C28 .768 27.25 0 26.323 0Z" fill="url(%23b)"/><mask id="d" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="28" height="28"><path d="M26.323 0H1.677C.75 0 0 .768 0 1.714v24.572C0 27.233.75 28 1.677 28h24.646C27.25 28 28 27.233 28 26.286V1.714C28 .768 27.25 0 26.323 0Z" fill="url(%23c)"/></mask><g mask="url(%23d)"><path opacity=".16" fill-rule="evenodd" clip-rule="evenodd" d="M7.127 20.984 14.277 28H28V16.1l-9.23-9.13H9.844v9.242l1.427 1.197H7.127v3.575Z" fill="%23144700"/></g><path fill-rule="evenodd" clip-rule="evenodd" d="M18.69 7v.007h.022v9.12h-2.21V9.162h-4.497v6.965h-2.21v-9.12h.024V7h8.87Zm2.69 10.386v3.559h-2.21v-1.334H9.336v1.334h-2.21v-3.559H21.379Z" fill="%23fff"/></g><defs><linearGradient id="b" x1="0" y1="0" x2="0" y2="28" gradientUnits="userSpaceOnUse"><stop stop-color="%2370CF01"/><stop offset="1" stop-color="%232A8C06"/></linearGradient><linearGradient id="c" x1="0" y1="0" x2="0" y2="28" gradientUnits="userSpaceOnUse"><stop stop-color="%2370CF01"/><stop offset="1" stop-color="%232A8C06"/></linearGradient><clipPath id="a"><path fill="%23fff" d="M0 0h28v28H0z"/></clipPath></defs></svg>');
	--logo-2gis-dc:url('data:image/svg+xml;utf8,<svg width="30" height="30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.79 17.271c-5.055.026-5.873 3.182-6.146 5.851l-.124 1.18h-1.016l-.123-1.18c-.273-2.669-1.116-5.825-5.997-5.85-.818-1.746-1.165-3.157-1.165-4.748 0-3.978 3.147-7.7 7.806-7.7 4.658 0 7.755 3.696 7.755 7.725 0 1.566-.148 2.977-.99 4.722ZM13.974 0C6.294 0 0 6.518 0 14.5c0 8.006 6.294 14.525 13.975 14.525C21.731 29.025 28 22.506 28 14.5 28 6.517 21.73 0 13.975 0Z" fill="%2329B24A"/></svg>');
	--logo-flamp-dc:url('data:image/svg+xml;utf8,<svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.682 12.285C2.578 11.592 1 9.585 1 6.677 1 3.077 3.513 1 6.201 1H19v4.362h-7.48v3.392h5.785v4.223H11.52V19H7.545V5.223H6.143c-.643 0-1.403.485-1.403 1.454 0 .761.41 1.246.935 1.523z" fill="%230093e9" style="stroke-width:.0870339"/></svg>');
	--logo-google-dc:url('data:image/svg+xml;utf8,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path fill="%234285f4" d="M23 12.247c0-.724-.066-1.411-.178-2.08H12.24V14.3h6.06c-.272 1.356-1.068 2.502-2.248 3.281v2.75h3.615C21.782 18.417 23 15.593 23 12.247z"/><path fill="%2334a853" d="M12.239 23c3.034 0 5.572-.99 7.427-2.668l-3.615-2.75c-1.012.66-2.295 1.064-3.812 1.064-2.932 0-5.414-1.934-6.303-4.547H2.208v2.833C4.053 20.525 7.846 23 12.238 23z"/><path fill="%23fbbc05" d="M5.936 14.1A6.26 6.26 0 0 1 5.58 12c0-.733.13-1.44.356-2.1V7.069H2.208A10.686 10.686 0 0 0 1 12c0 1.778.44 3.447 1.208 4.932z"/><path fill="%23ea4335" d="M12.239 5.354c1.658 0 3.137.56 4.308 1.65L19.75 3.87C17.811 2.091 15.273 1 12.24 1 7.846 1 4.053 3.475 2.209 7.068l3.727 2.833c.89-2.613 3.371-4.547 6.303-4.547z"/></svg>');
	--logo-otzovik-dc:url('data:image/svg+xml;utf8,<svg viewBox="0 0 20 20" fill="%23b74746" xmlns="http://www.w3.org/2000/svg"><path d="M1 10c0 4.98 4.02 9 9 9s9-4.02 9-9-4.02-9-9-9-9 4.02-9 9Zm3.12 0c0-3.12 2.4-5.64 5.46-5.88v3.12a2.72 2.72 0 0 0-2.34 2.7c0 1.5 1.2 2.76 2.76 2.76 1.56 0 2.76-1.2 2.76-2.76a2.72 2.72 0 0 0-2.34-2.7V4.12c3.06.18 5.46 2.76 5.46 5.88A5.89 5.89 0 0 1 10 15.88 5.89 5.89 0 0 1 4.12 10ZM8.8 2.56c0-.66.54-1.2 1.2-1.2.66 0 1.2.54 1.2 1.2 0 .66-.54 1.2-1.2 1.2-.66 0-1.2-.54-1.2-1.2z" style="stroke-width:.6"/></svg>');


}

.icon.icon-gift:before{
	mask-image:url('/static/img/icon-gift.svg');
	-webkit-mask-image:url('/static/img/icon-gift.svg');
}

.icon.icon-time:before{
	mask-image:var(--time);
	-webkit-mask-image:var(--time);
}

.icon.icon-eye:before{
	mask-image:var(--eye);
	-webkit-mask-image:var(--eye);
	height:14px;
}


.icon.icon-arrow-right:before{
	mask-image: var(--arrow-right);
	-webkit-mask-image: var(--arrow-right);
	background-repeat: no-repeat;
	background-position: center;
	width:16px;
	height:10px;
}

.icon.icon-house:before{
	mask-image: var(--house);
	-webkit-mask-image: var(--house);
}

.icon.icon-question:before{
	mask-image: var(--question);
	-webkit-mask-image: var(--question);
	width:14px;
	height:14px;
}

.icon.icon-peoples:before{
	mask-image: var(--peoples);
	-webkit-mask-image: var(--peoples);
}

.icon.icon-magnifier:before{
	mask-image: var(--magnifier);
	-webkit-mask-image: var(--magnifier);
	width:18px;
	height:17px;
}

.icon-map-pin:before{
	mask-image: var(--map-pin);
	-webkit-mask-image: var(--map-pin);
}


.icon.icon-close:before{
	mask-image: var(--close);
	-webkit-mask-image: var(--close);
}

.icon.icon-chancel:before{
	mask-image: var(--chancel);
	-webkit-mask-image: var(--chancel);
}

.icon.icon-ok:before{
	mask-image: var(--soc-ok);
	-webkit-mask-image: var(--soc-ok);
	width:12px;
}
.icon.icon-vk:before{
	mask-image: var(--soc-vk);
	-webkit-mask-image: var(--soc-vk);
	height:11px;
}
.icon.icon-youtube:before{
	mask-image: var(--soc-youtube);
	-webkit-mask-image: var(--soc-youtube);
}
 
.icon.icon-case:before{
	mask-image: var(--case-mask);
	-webkit-mask-image: var(--case-mask);
}

.icon.icon-ecz-logo:before{
	mask-image: var(--ecz-logo);
	-webkit-mask-image: var(--ecz-logo);
}

.icon.icon-chat:before{
	mask-image: var(--chat);
	-webkit-mask-image: var(--chat);
}

.icon.icon-chat-alt:before{
	mask-image: var(--chat-alt);
	-webkit-mask-image: var(--chat-alt);
}

.icon.icon-chat-dots:before{
	mask-image: var(--chat-dots);
	-webkit-mask-image: var(--chat-dots);
}

.icon.icon-people:before{
	mask-image: var(--people);
	-webkit-mask-image: var(--people);
}

.icon.icon-people-star:before{
	mask-image: var(--people-star);
	-webkit-mask-image: var(--people-star);
}

.icon.icon-more:before{
	mask-image: var(--more);
	-webkit-mask-image: var(--more);
}

.icon.icon-heart:before{
	mask-image: var(--heart);
	-webkit-mask-image: var(--heart);
	width:18px;
	height:17px;
}

.icon.icon-hands:before{
	mask-image: url("/static/icons/contract-handshake-svgrepo-com.svg");
	-webkit-mask-image: url("/static/icons/contract-handshake-svgrepo-com.svg");
	width:30px;
	height:30px;
}

.icon.icon-hammer-judge:before{
	mask-image: url("/static/icons/court-judge-svgrepo-com.svg");
	-webkit-mask-image: url("/static/icons/court-judge-svgrepo-com.svg");
	width:30px;
	height:30px;
}

.icon.icon-hourglass:before{
	mask-image: url("/static/icons/hourglass-wait-svgrepo-com.svg");
	-webkit-mask-image: url("/static/icons/hourglass-wait-svgrepo-com.svg");
	width:30px;
	height:30px;
}

.icon.icon-bag-case:before{
	mask-image: url("/static/icons/hand-bag-svgrepo-com.svg");
	-webkit-mask-image: url("/static/icons/hand-bag-svgrepo-com.svg");
	width:30px;
	height:30px;
}


.icon.icon-eye-2:before{
	mask-image: var(--eye-2);
	-webkit-mask-image: var(--eye-2);
}
.icon.icon-ext-link:before{
	mask-image: var(--ext-link);
	-webkit-mask-image: var(--ext-link);
}
.icon.icon-file-search:before{
	mask-image: var(--file-search);
	-webkit-mask-image: var(--file-search);
}

.icon.icon-people-alt:before{
	mask-image: var(--people-alt);
	-webkit-mask-image: var(--people-alt);
	width:16px;
	height:21px;
}

.icon.icon-graph:before{
	mask-image: var(--graph);
	-webkit-mask-image: var(--graph);
	width:16px;
	height:14px;
}
.icon.icon-user-check:before{
	mask-image: var(--user-check);
	-webkit-mask-image: var(--user-check);
	width:28px;
	height:28px;
}

.icon.icon-doc:before{
	mask-image: var(--doc);
	-webkit-mask-image: var(--doc);
}

.icon.icon-world:before{
	mask-image: var(--world);
	-webkit-mask-image: var(--world);
}

.icon.icon-medal:before{
	mask-image: var(--medal);
	-webkit-mask-image: var(--medal);
}

.icon.icon-case-alt:before{
	mask-image: var(--case-alt);
	-webkit-mask-image: var(--case-alt);
}

.icon.icon-dp-alt:before{
	mask-image: var(--dp-alt);
	-webkit-mask-image: var(--dp-alt);
}

.icon.icon-shield:before{
	mask-image: var(--shield);
	-webkit-mask-image: var(--shield);
}

.icon.icon-thumbup:before{
	mask-image: var(--thumbup);
	-webkit-mask-image: var(--thumbup);
}

.icon.icon-flag-heart:before{
	mask-image: var(--flag-heart);
	-webkit-mask-image: var(--flag-heart);
}

.icon.icon-square:before{
	mask-image: var(--doc);
	-webkit-mask-image: var(--doc);
}

.icon.icon-ext-link:before{
	mask-image: var(--ext-link);
	-webkit-mask-image: var(--ext-link);
}

.icon.icon-draft:before{
	mask-image: var(--draft);
	-webkit-mask-image: var(--draft);
}
.icon.icon-checkbox-circle:before{
	mask-image: var(--checkbox-circle);
	-webkit-mask-image: var(--checkbox-circle);
}
.icon.icon-vidicon:before{
	mask-image: var(--vidicon);
	-webkit-mask-image: var(--vidicon);
}
.icon.icon-play-circle:before{
	mask-image: var(--play-circle);
	-webkit-mask-image: var(--play-circle);
}

.icon.icon-phone-arrow-down:before{
	mask-image: var(--phone-arrow-down);
	-webkit-mask-image: var(--phone-arrow-down);
}

.icon.icon-search-eye:before{
	mask-image: var(--search-eye);
	-webkit-mask-image: var(--search-eye);
}

.icon.icon-arrow-down:before{
	mask-image: var(--arrow-down);
	-webkit-mask-image: var(--arrow-down);
}

.icon.icon-people-search:before{
	mask-image: var(--people-search);
	-webkit-mask-image: var(--people-search);
}

.icon.icon-user-voice:before{
	mask-image: var(--user-voice);
	-webkit-mask-image: var(--user-voice);
}

.icon.icon-card-broken:before{
	mask-image: var(--card-broken);
	-webkit-mask-image: var(--card-broken);
}

.icon.icon-card:before{
	mask-image: var(--credit-card);
	-webkit-mask-image: var(--credit-card);
}

.icon.icon-calc:before{
	mask-image: var(--calc);
	-webkit-mask-image: var(--calc);
}

.icon.icon-percent:before{
	mask-image: var(--percent);
	-webkit-mask-image: var(--percent);
}

.icon.icon-doc-shield:before{
	mask-image: var(--doc-shield);
	-webkit-mask-image: var(--doc-shield);
}

.icon.icon-judge-hammer:before{
	mask-image: var(--judge-hammer);
	-webkit-mask-image: var(--judge-hammer);
}

.icon.icon-people-protect:before{
	mask-image: var(--people-protect);
	-webkit-mask-image: var(--people-protect);
}

.icon.icon-phone-income:before{
	mask-image: var(--phone-income);
	-webkit-mask-image: var(--phone-income);
}
.icon.icon-star-smile:before{
	mask-image: var(--star-smile);
	-webkit-mask-image: var(--star-smile);
}

.icon.icon-coins:before{
	mask-image: var(--coins);
	-webkit-mask-image: var(--coins);
}

.icon.icon-money-safe:before{
	mask-image: var(--safe-money);
	-webkit-mask-image: var(--safe-money);
}

.icon.icon-share:before{
	mask-image: var(--share);
	-webkit-mask-image: var(--share);
}

.icon.icon-calendar:before{
	mask-image: var(--calendar);
	-webkit-mask-image: var(--calendar);
}

.icon.icon-calendar-check:before{
	mask-image: var(--calendar-check);
	-webkit-mask-image: var(--calendar-check);
}

.icon.icon-quote:before{
	mask-image: var(--quote);
	-webkit-mask-image: var(--quote);
}

.icon.icon-lightbulb-flash:before{
	mask-image: var(--lightbulb-flash);
	-webkit-mask-image: var(--lightbulb-flash);
}

.icon.icon-clock:before{
	mask-image: var(--clock);
	-webkit-mask-image: var(--clock);
}

.icon.icon-copy:before{
	mask-image: var(--copy);
	-webkit-mask-image: var(--copy);
}

.icon.icon-magic:before{
	mask-image: var(--magic);
	-webkit-mask-image: var(--magic);
}

.icon.icon-file-edit:before{
	mask-image: var(--file-edit);
	-webkit-mask-image: var(--file-edit);
}

.icon.icon-wallet:before{
	mask-image: var(--wallet);
	-webkit-mask-image: var(--wallet);
}

.icon.icon-safe-shield:before{
	mask-image: var(--safe-shield);
	-webkit-mask-image: var(--safe-shield);
}

.icon.icon-checkbox-multiple:before{
	mask-image: var(--checkbox-multiple);
	-webkit-mask-image: var(--checkbox-multiple);
}

.icon.icon-bookmark:before{
	mask-image: var(--bookmark);
	-webkit-mask-image: var(--bookmark);
}

.icon.icon-bus:before{
	mask-image: var(--bus);
	-webkit-mask-image: var(--bus);
}

.icon.icon-minibus:before{
	mask-image: var(--minibus);
	-webkit-mask-image: var(--minibus);
}

.icon.icon-subway:before{
	mask-image: var(--subway);
	-webkit-mask-image: var(--subway);
}

.icon.icon-customer-service:before{
	mask-image: var(--customer-service);
	-webkit-mask-image: var(--customer-service);
}

.icon.icon-draft-alt:before{
	mask-image: var(--draft-alt);
	-webkit-mask-image: var(--draft-alt);
}

.icon.icon-hammer:before{
	mask-image: var(--hammer);
	-webkit-mask-image: var(--hammer);
}

.icon.icon-open-arm:before{
	mask-image: var(--open-arm);
	-webkit-mask-image: var(--open-arm);
}

.icon.icon-bg:before{
	background-color:transparent;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
}

.icon.icon-bg.icon-default:before{
	background-image: var(--people-star);
}

.icon.icon-bg.icon-logo-ecz-dc:before{
	background-image: var(--ecz-logo-color);
}

.icon.icon-bg.icon-logo-ya-dc:before,
.icon.icon-bg.icon-logo-yandex-dc:before{
	background-image: var(--logo-ya-dc);
}

.icon.icon-bg.icon-logo-dp-dc:before{
	background-image: var(--logo-dp-dc);
}

.icon.icon-bg.icon-logo-2gis-dc:before{
	background-image: var(--logo-2gis-dc);
}

.icon.icon-bg.icon-logo-flamp-dc:before{
	background-image: var(--logo-flamp-dc);
}

.icon.icon-bg.icon-logo-google-dc:before{
	background-image: var(--logo-google-dc);
}

.icon.icon-bg.icon-logo-otzovik-dc:before{
	background-image: var(--logo-otzovik-dc);
}